 
 .jh{
   font-family: 'Square Peg', cursive;
 
    font-size: 45px;
    margin-bottom: 90px;
    margin-top: 90px;
}
.jh1{ 
   font-family: 'Square Peg', cursive;
 
    font-size: 25px;
    box-shadow: 10px 10px 40px rgb(133, 139, 133);
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;
    padding-bottom: 20px;
    
     background-color: lightpink;
     width: 500px;
     height: 500px;
     margin-bottom: 20px;
     border-radius: 15px;
      
      
      
 }
.orange{
   color:tomato;
}

section{
   display: flex;
}
.half{
   width: 50%;
   padding-left: 2%;
}
.half-img{
   width: 80%;

}
.half2{
   width: 800px;
}
.half3{
   width: 800px;
   height: 700px;
   margin-top: 100px;
   border-radius: 30px;
}


.button{ font-size: 30px;
   text-decoration: none;
   background-color: orange;
   padding: 10px 10px;
   border-radius: 10px;
   background-image: linear-gradient( orange, tomato);
   color: aliceblue;
font-weight: 500;
}

.raju{
   font-size: 50px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 text-align: center;


}
.jh2{
    background-image: url(  );
    background-repeat: no-repeat;
}

#mission-border{
   border-image:linear-gradiant (blue tomato);
   border-image-slice: 1;
}

.my{
   font-size: 20px;
   text-align: center;
}