 
 .jh{
   font-family: 'Abril Fatface', cursive;
font-size: 50px;
}
.orange{
   color: orange;
}

section{
   display: flex;
}
.half{
   width: 50%;
   padding-left: 2%;
}
.half-img{
   width: 80%;

}
.half2{
   width: 800px;
}

.button{
   text-decoration: none;
   background-color: orange;
   padding: 10px 10px;
   border-radius: 10px;
   background-image: linear-gradient( orange, tomato);
   color: aliceblue;
font-weight: 500;
}